@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

html, body, [class*="css"]{
    font-family:'Poppins',sans-serif;
}

.stApp{
    background:#F4F1EE;
}

.block-container{
    max-width:1400px;
    padding-top:1rem;
}

.hero{
    height:500px;
    border-radius:35px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom:45px;
}

.hero h1{
    color:white;
    font-size:72px;
    font-weight:800;
}

.hero p{
    color:white;
    font-size:24px;
}

.hero-btn{
    background:#FF4FA3;
    color:white;
    padding:16px 38px;
    border-radius:40px;
    margin-top:25px;
    display:inline-block;
    font-weight:700;
    font-size:18px;
    transition:.3s;
}

.hero-btn:hover{
    background:white;
    color:#FF4FA3;
}